<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">chaunBot by chaun14</h5>
                <p class="grey-text text-lighten-4">Je ne suis toujours un développeur débutant, le code n'est pas parfait je le conçois mais j'essaie de m'améliorer pour rendre chaunBot encore meilleur.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">chaun14</h5>
                <ul>
                    <li><a class="white-text" href="https://chaun14.fr">Mon site</a></li>
                    <li><a class="white-text" href="https://ftnl.fr">FTNL</a></li>

                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li><a class="white-text" href="https://discord.gg/gqFCbCN">Discord de support</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://chaun14.fr">chaun14</a>
        </div>
    </div>
</footer>